* {
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
}

.back-icon {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 10px;
    top: 10px;
}

.back-icon:hover {
    cursor: pointer;
}

.text-title {
    position: absolute;
    width: 173px;
    height: 58px;
    left: 64px;
    top: 27px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 36px;
    text-align: center;
    color: #2C2C2C;
}

.down-arrow {
    position: absolute;
    width: 37px;
    height: 23px;
    left: 132px;
    top: 109px;
}

.iframe-wrapper
    position: absolute;
    width: 200px;
    height: 120px;
    left: 50px;
    top: 162px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #2C2C2C;
}

.display-data {
    position: absolute;
    width: 200px;
    height: 120px;
    left: 50px;
    top: 162px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #2C2C2C;
}

.success-button {
    position: absolute;
    width: 300px;
    height: 70px;
    left: 0px;
    top: 321px;
    background: #ADF7B6;
    text-align: center;
    font-size: 30px;
    font-family: Nunito;
    border-width: 0px;
    font-weight: 100;
}
.success-button:hover {
    cursor: pointer;
}
.success-button:focus {
  outline: none;
}

.reminder-button {
    position: absolute;
    width: 150px;
    height: 69px;
    left: 0px;
    top: 391px;
    background: #8BE1DE;
    text-align: center;
    font-size: 18px;
    font-family: Nunito;
    border-width: 0px;
    font-weight: 100;
}
.reminder-button:hover {
    cursor: pointer;
}
.reminder-button:focus {
  outline: none;
}

.encourage-button {
    position: absolute;
    width: 150px;
    height: 69px;
    left: 150px;
    top: 391px;
    background: #FFEE93;
    text-align: center;
    font-size: 18px;
    font-family: Nunito;
    border-width: 0px;
    font-weight: 100;
}
.encourage-button:hover {
    cursor: pointer;
}
.encourage-button:focus {
  outline: none;
}

.failure-button {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 0px;
    top: 460px;
    background: #FFC09F;
    text-align: center;
    font-size: 18px;
    font-family: Nunito;
    border-width: 0px;
    font-weight: 100;
}
.failure-button:hover {
    cursor: pointer;
}
.failure-button:focus {
  outline: none;
}
