* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body .page {
    height: 500px;
    width: 300px;
    background: #20A39E;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 30px;
    margin-bottom: 43px;
}

.preview-pane {
    width: 232px;
    height: 181px;
    background: #E5E5E5;
    border-radius: 10px;
    font-family: Raleway;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    padding: 17px 11px 17px 11px;
    margin-bottom: 51px;
}

.breaktime-button {
    margin-bottom: 20px;
}

.skip-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 12px;
    text-decoration: none;
}