* {
    margin: 0px;
    padding: 0px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
}

.full-logo {
    margin-top: 30px;
    margin-bottom: 102px;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 246px;
    margin-bottom: 25px;
}

.custom-input-box {
    margin-top: 20px;
}

.login-button {
    margin-bottom: 81px;
}

.options {
    font-size: 16px;
}

