* {
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-logo {
    margin-top: 30px;
}

.description {
    text-align: left;
    margin-top: 38px;
    margin-bottom: 38px;
}

.summary-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 50px;
}

.summary-title {
    margin-bottom: 14px;
}

.summary-item {
    display: flex;
    margin-bottom: 30px;
}

.last-summary-item {
    margin-bottom: 0px;
}

.icon-logo {
    margin-right: 16px;
}

.login-button {
    margin-bottom: 20px;
}

.signup-button {
    margin-bottom: 35px;
}