* {
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    background-image: url("/images/kinding-background.png");
}

.text-title {
    position: absolute;
    width: 141px;
    height: 19px;
    left: 26px;
    top: 43px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 19px;
    color: #2C2C2C;
}

.phonetic-title {
    position: absolute;
    width: 136px;
    height: 19px;
    left: 27px;
    top: 81px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 19px;
    color: #2C2C2C;
}

.line {
    position: absolute;
    width: 230px;
    height: 0px;
    left: 27px;
    top: 109px;
    border: 1px solid #2C2C2C;
}
    
.definition-title {
    position: absolute;
    width: 228px;
    height: 63px;
    left: 27px;
    top: 117px;

    font-family: Nunito;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 19px;
    color: #2C2C2C;
}









.full-logo {
    margin-top: 30px;
}

.description {
    text-align: left;
    margin-top: 38px;
    margin-bottom: 38px;
}

.summary-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 50px;
}

.summary-title {
    margin-bottom: 14px;
}

.summary-item {
    display: flex;
    margin-bottom: 30px;
}

.last-summary-item {
    margin-bottom: 0px;
}

.icon-logo {
    margin-right: 16px;
}

.login-button {
    margin-bottom: 20px;
}

.signup-button {
    margin-bottom: 35px;
}
