* {
    margin: 0px;
    padding: 0px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
}

.full-logo {
    margin-top: 30px;
    margin-bottom: 100px;
}

.form-div {
    width: 246px;
}

.custom-input-box {
    width: 232px;
    margin-top: 20px;
}

.signup-button {
    margin-top: 25px;
    margin-bottom: 20px;
}