* {
    padding: 0px;
    margin: 0px;
}

body .page {
    background: #20A39E;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin-top: 30px;
    margin-bottom: 48px;
    width: 111.7px;
    height: 30px;
}

.mins-button5 {
    margin-bottom: 20px;
}

.mins-button15 {
    margin-bottom: 20px;
}

.mins-button30 {
    margin-bottom: 78px;
}


